@media screen and (min-width: 480px) {
    
}

.container-fluid, .h1{
    background-color: #B46453;
    color: antiquewhite;
}

.navbar{
    text-align: left;
}

.header-container {
    background-color: #D7C0BB;
}
.testimonals-container {
    background-color: #A27469;
}

html{
    text-align: center;
    min-width: 1200px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.img-thumbnail{
    border: 2px;
    padding: 0.25rem;
}

.btn{
    background-color: #B46453;
    color: antiquewhite;
    text-shadow: 2px 2px grey;
}

p{
    text-shadow: 1px 1px grey;
}

h5 {
    color: white;
    border: solid white 1px 1px;
}

.row{
    background-color: white;
    text-align: center;
}

.d-inline-flex{
    background-color: #D7C0BB;
    font-size: 50px;    
}

.container-footer {
    background-color: #B46453;
}

.btn:hover{
    background-color: #D7C0BB;
    border: none;
}

.contact-form{
    border: solid #B46453 2px;
    margin: auto;
}

h2 {
    text-shadow: 2px 2px grey;
    color: #B46453;
  }

  .mb-3{
    background-color: #D7C0BB;
    text-align: left;
  }

 .bg-body-secondary {
    background-color: #B46453;
    border-radius: 2em;
 }

 /* images */
 .images { background-image: url('/image.png'); }
@media only screen and (min-width: 768px) {
  .images { background-image: url('/image-768.png'); }
}
@media only screen and (min-width: 1268px) {
  .images { background-image: url('/image-1268.png'); }
}

h3 {
    text-shadow: 2px 2px grey;
    font-size: 30px;
    color: #B46453;
  }

  p{
    font-size: 30px;
  }